OPENAI_API_KEY=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
LANGCHAIN_API_KEY=
SERPAPI_API_KEY=686d1f8fe606f5f876c22b0ec9e37a73cfde82c1559ee00c8e342a5524f27013